@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');


body {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.menu {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: fixed;
    font-size: 2em;
    line-height: 35px
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 35px
}

.artmenu {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    top: 2%;
    left: 30%;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

.artmenu ul {
    color: white;
    display: block;
    line-height: 40px;
    list-style-type: none;
    text-decoration: none;
}


.content {
    position: relative;
    word-wrap: break-word;
    top: 2%;
    left: 40%;
    font-size: 0.8em;
    width: 60%;
}

.content ul {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.content p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 0;
    list-style-type: bold;
    font-size: 2em;
    margin-left: 0;
    padding-left: 0;
}

.about {
    position: relative;
    word-wrap: break-word;
    top: 2%;
    left: 40%;
    font-size: 1em;
    width: 60%;
}

.about ul {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


h1 {
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* Imposta il peso del font a normale */
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    /* Imposta il margine inferiore a zero */
}


h2 {
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    /* Imposta il margine inferiore a zero */
}

a {
    color: white;
    text-decoration: none;
    /*line-height: 45px;*/
}

.back-button {
    display: none;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}

.back-button a {
    color: #FF0000;
    text-decoration: none;
}

@media screen and (max-width: 920px) {

    .content {
        left: 0%;
        width: 100%;
        font-size: 1.3em;
    }

    .content ul {
        list-style-type: "-> ";
        list-style-position: inside;
        margin-left: 0;
        padding-left: 1;
    }

    .content p {

        font-size: 1em;
    }

    .about {
        left: 0%;
        width: 100%;
        font-size: 1.3em;
    }

    .about ul {
        list-style-type: "-> ";
        list-style-position: inside;
        margin-left: 0;
        padding-left: 1;
    }

    .menu {
        display: none;
    }

    .menu a {
        line-height: 60px;
    }

    .artmenu {
        left: 0%;
    }

    .artmenu ul{
        line-height: 60px;

    }

    .back-button {
        display: block;
        color: #FF0000;
    }

    #index-page .menu {
        display: block;
    }



    a {
        line-height: 37px;
    }

}